*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/captures/
.externalNativeBuild/
.cxx/
*.apk
*.ap_
*.aab
*.dex
bin/
gen/
out/
.navigation/
*.hprof
app/build/
**/build/
*.keystore
!debug.keystore
.cxx/

.kotlin/
